*{
    margin: 0;
    padding: 0;
}
.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}
.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}
/* bai 1 */
.w-cart{
    width: 100%;
    height: 100vh;
    background: #F5F6F7;
}
.w-cart .cart{
    display: flex;
    justify-content:space-evenly;
}
.w-cart .cart .gallery{
    padding-top: 35.25%;
    width: 60%;
}
.w-cart .cart .content p{
    color: #FF0000;
    font-size: 1.6rem;
}
.w-cart .cart .modal .modal-dialog {
    margin: 9.75rem auto;
}
.w-cart .cart .modal .modal-dialog .modal-body form input{
    background: #F5F6F7;
}
.w-cart .cart .modal .modal-body  #modalId1,
.w-cart .cart .modal .modal-body  #modalId2{
    color: #FF0000;
    border: 1px solid #000000;
}


/* bai 2*/
header .navbar{
    padding: 1.5rem 1rem;
}
header .navbar a{
    color: #58616E;
    text-decoration: none;
}
header .navbar .nav-links{
    display: flex;
    gap: 3rem;
}
header .navbar .nav-links .links{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
header .navbar .nav-links .links a{
    margin:0 1rem ;
}
header .navbar .icons{
    gap: 2rem;
}
header .navbar .icons .notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
header .navbar .icons .connect{
    padding: .8rem 1.5rem;
    background: #000000;
    color: #FFFFFF;
    border-radius: 25px;
}
/*  */
.w-proFile{}
.w-proFile .images .img-wrap{
    border-radius: 8px;
    padding-top: 35.25%;
    z-index: -2;
}
.w-proFile .images .avatar{
    margin-top: -5rem;
    position: relative;
    left: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    background: #ffff;
    width: 9rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.w-proFile .images .avatar img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%; 
}
/*  */
.w-proFile .content{
    margin-top: 3rem;
    padding: 0 2rem;
}
.w-proFile .content .collection .wallet{
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    display: grid;
    grid-auto-flow: row dense;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
}
.w-proFile .content .collection .wallet li{
    padding: 1.5rem;
    border: 2px solid #eff4fb;
    border-radius: 12px;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.w-proFile .content .left::after{
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    right: 0;
    top: 0;
    border: 1px dashed #c9cbcc;
}
.w-proFile .content .box:first-child    {
    padding-bottom: 2rem;
}
.w-proFile .content .box::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    right: 0;
    bottom: 0;
    border: 1px dashed #c9cbcc;
}
.w-proFile .content .box .links{
    color: #000000;
}
.w-proFile .content .box:last-child .btn{
    margin-top: 0;
}
.w-proFile .content .box:last-child:before{
    display: none;
}
.w-proFile .content .box .addWallet .number{
    color: #FFFFFF;
    background: #000000;
    padding: .5rem .9rem;
    border-radius: 999px;
}
.w-proFile .content .box .addWallet .copy{
    padding: .5rem .9rem;
    gap: 0.7rem;
}
.w-proFile .content .box .addWallet {
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.w-proFile .content .box .btn{
    margin-top: 2rem;
    padding: .6rem 1.5rem;
}
.w-proFile .content .box ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.w-proFile .content .box ul .imgView{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 50%;
    background: #ffff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.w-proFile .content .box ul .imgView img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%; 
}
.w-proFile .content .box ul .imgView:nth-child(n+1){
    margin-right: -.7rem;
}
.w-proFile .content .box .list-item{
    display: block;
}
.w-proFile .content .box .list-item li{
    margin-bottom: .5rem;
}
.nav-tabs .nav-link{
    margin-bottom: 0;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover{
    border-color: #FFFFFF;
    border-bottom: 2px solid #000000;
}
